<!--
body {
    margin: 0;
    padding: 0;
    font: bold 11px/1.5em Verdana;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3; /* Change this for more or less transparency */
    z-index: -1;
}


h2 {
        font: bold 11px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

/*- Menu Tabs E--------------------------- */

.home-container {
    display: flex;  
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.home-part {
    color: rgb(255, 255, 0);
    margin: 0 10px; 
    font-size: 115px;
}
    #tabsE {
      display: flex;
      justify-content: center;
      width:100%;
      background:#ffffff;
      font-size:93%;
      line-height:normal;

      }
    #tabsE ul {
        margin:0;
        padding:10px 10px 0 50px;
        list-style:none;
      }
    #tabsE li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsE a {
        float: left;
      text-align: center;
      background:url("tableftE.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsE a span {
      float:left;
      display:block;
      background:url("tabrightE.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#000000;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsE a span {float:none;}
    /* End IE5-Mac hack */
    #tabsE a:hover span {
      color:#4acf1d;
      }
    #tabsE a:hover {
      background-position:0% -42px;
      }
    #tabsE a:hover span {
      background-position:100% -42px;
      }

        #tabsE #current a {
                background-position:0% -42px;
        }
        #tabsE #current a span {
                background-position:100% -42px;
        }
-->